#hello{
    color: #874848;
    text-align: right;
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-style: wavy;
    text-decoration-thickness: 9px;

    text-shadow: -40px -30px 20px green;
}

p{
    /* direction: rtl; */
    /* unicode-bidi: bidi-override; */
    text-transform: capitalize;
    text-indent: 100px;
    letter-spacing: 1.5px;
    word-spacing: 10px;
    line-height: 30px;
}